*{
    margin :0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins';
    background-color: gray;
}

header{
    height:100vh;
    

}

.navbar{

    position: fixed;
    top:0;
    z-index:10;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color:#663366;
}
.navbar a {
    color: white;
}


.navbar .nav-links ul {
    display: flex;

}
.navbar .nav-links ul li {
    margin:0 25px;


}

.navbar .nav-links ul li.active a {
    color: red;
    font-weight:600;


}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;

}


@media screen and (max-width:800px) {
    .navbar{
        padding: 38px;
        position: fixed;
    top:0;
    z-index:10;
    }

    .navbar .logo{
        position: absolute;
        top: 20px;
        left: 10px;
    }
    .navbar a {
        color: white;
        font-weigth:700;
    }


    .navbar .menu-hamburger {
        display: block;
        top: 10px;
    right: 20px;
    }
    .nav-links{
        display: none!important;
        top: 80px;
        left: 0;
        position: absolute;
        background-color: #663366ab;
        backdrop-filter: blur(5px);
        width: 40%;
        height: 100;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        transition:  all 0.5s ease; 
        border-radius: 8px;
        
    }

    .nav-links.mobile-menu {
        display: block!important;
        margin-left: 60%;
    }
    

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar .nav-links ul li {

        margin: 10px 0;
        font-size: 1em;
    }

    
}